body{margin:0;}
#divall{width:100%}
#divheader{width:100%;margin:0;}
#half{margin:0;width:100%;}
#divbodyer{margin:0;width:100%;}
#divbodyer p{font-size:1em;color:gray;font-family:"Times New Roman";margin-left:10%;margin-top:5%;}
#divbodyer ul{list-style:none;}
#divbodyer li{font-size:0.7em;font-family:"Times New Roman";color:gray; margin-bottom:2%}
#divfooter{margin:0;}
#divleft{float:left;width:40%;}
#divright{float:left;width:40%;margin-left:8%}
#prompt{margin:0;}
#prompt ul{list-style:none;}
#prompt li{font-size:0.6em;font-family:"Times New Roman";color:gray; margin-bottom:2%;}
.claim-button{margin-left:26%;margin-top:8%;width:80%}
.package{width:100%;}
.clear{clear:both}
