.color-white{
    color: #fff;
}
.color-light-orange{
    color: #64cd97;
}
.color-brown{
    color: #a57870;
}
.inverse{
    background-color: #64cd97;
    color: #fff;
}
.color-blue{
    color: #00a6cc;
}
.fright{
    float: right;
}
.small-btn{
    padding: .1em .2em;
}
.inline-block{
    display: inline-block;
}
.round-corner{
    border-radius: .1em;
}
.bold{
    font-weight: bold;
}
.through{
    text-decoration: line-through;
}
.up{
    display: inline-block;
    vertical-align: super;
}
.national-box {
    background: url(../img/banner101.png) no-repeat;
    background-size: 100% 100%;
    padding: 1em;
}
.national-box a{
    color: #ce2203;
}
.invented{
    text-align: center;
    margin: 0 0 2em;
    color: #82858d;
}
.hot{
    border: 1px solid #d0cdcb;
    background-color: #fff;
    margin: 0 0 1em;
    position: relative;
}
.hot .tip{
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em 1em;
}
.hot .pic{
    display: table-cell;
    width: 50%;
    padding: .5em 0;
}
#product-list{
    padding-top: .5em;
}
#product-list .hot .pic img{
    border: none;
}
.hot .txt{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}
.exchange-big-btn{
    color: #fff;
    background-color: #ce2203;
    display: inline-block;
    border-radius: .2em;
    padding: .5em 1.5em;
    text-decoration: none;
    font-size: 1.2em;
}
.gift-box{
    position: relative;
}
.gift-box .tip{
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: .5;
    color: #fff;
    background-color: #000;
    width: 100%;
}
.gift-box .tip p{
    padding: .5em .3em;
}
#redeem-button.disable{
    border: 2px solid #a3a6a8;
    color: #a3a6a8;
    background-color: #fff;
}
.disable{
    background-color: #a3a6a8;
}

/*rule*/
.rule-box{
    margin: .5em;
    color: #3d4245;
}
.tit{
    text-align: center;
    font-size: 1.2em;
}
.tit img{
    display: inline-block;
    vertical-align: middle;
    height: 1em;
}
.list1{
    margin-top: .5em;
}
.list1 li{
    margin-bottom: .5em;
    text-indent: -1em;
    padding-left: 1em;
}
.list1 li span{
    color: #fff;
    background-color: #626262;
    display: inline-block;
    border-radius: .5em;
    width: 1em;
    height: 1em;
    text-indent: .2em;
}
.rule-table{
    padding: 1em 0;
    width: 100%;
}
.rule-table td{
    padding: .3em 0 .5em .3em;
}
.rule-table tr:nth-child(2n+1) td{
    background-color: #dfdfdf;

}
.rule-table tr:nth-child(2n) td{
    background-color: #efefef;

}
.list2{
    margin-top: .5em;
}
.list2 li{
    margin-bottom: .5em;
}
footer{
    margin-bottom: 2em;
}
footer p{
    margin-bottom: .5em;
}
.product-medal-info-national{
    width:70%;
    font-size: 0.9em;
    float: left;
}
.product-points-info-national{
    width: 30%;
    float: right;
    text-align: right;
}
.redeem-info{
    padding: 1em 0.5em 3em;
    margin: 0;
}
