body {
    color: #536270;
    background: #0f1016;
}

img {
    opacity: .5;
}

input {
    background-color: #2b2d32;
    border-color: #2b2d32;
}

.bg-f5 {
    background-color: #1a1b20;
}

.header {
    border-bottom: 1px solid #a5a5a4;
    background: #e1e4e5;
}

.container {
    border: 1px solid #666;
    background: #1a1b20;
}

.full-container {
    background: #2b2d32;
    background-color: #1a1b20;
}

.list-item-head {
    border-bottom: 1px solid #666;
}

.list-item-head:before {
    background: #452222;
}

#medal-icon-list {
    border-bottom: 1px dotted #999999;
}

#medal-icon-list li img {
    background: #EBEBEB;
}

#medal-info-list .medal-info-list-item p {
    border-bottom: 1px solid #999999;
}

/**
 * product info css
 *
 */

.options-dot {
    background-color: #7E7E7E;
}

.product-images {
    border-bottom: 1px solid #DEDEDE;
}

.product-info {
    border-bottom: 1px solid #4d515b;
    background-color: #2b2d32;
}

.product-info-right {
    color: #534644;
}

.product-detail {
    color: #4d515b;
}

.product-attr-label {
    color: #4d515b;
}

#redeemed-amount {
    color: #534644;
}

.redeemed-amount-inventory {
    color: #4d515b;
}

#redeem-button {
    background-color: #534644;
    color: #877e7c;
}

/**
 * points redeem panel
 */

#redeem-panel {
    background: #FFFFFF;
    color: #4D515B;
}

.redeem-panel-text {
    border-bottom: 2px solid #741F11;
}

.redeem-button-section {
    border-top: 1px solid #666;
}

.inventory-zero {
    color: #D6D6D6;
    opacity: .5;
}

.size-selected {
    background: #F0F0F0;
    opacity: .5;
}

.redeem-button-active {
    background-color: #741F11;
    color: #FFFFFF;
    opacity: .5;
}

.redeem-button-inactive {
    background-color: #252525;
    color: #7d7d7d;
    border: 1px solid #555;
}

/**
 * redeem history css
 */

#redeem-history-container {
    background-color: #0f1016;
}

.redeem-history-item {
    background: #1a1b20;
    border-top: 1px solid #1a1b20;
    border-bottom: 1px solid #1a1b20;
}

.order-title {
    border-bottom: 1px solid #24252a;
}

.order-product-image {
    border: 1px solid #E0E1E1;
}

.order-medal-info {
    color: #4a4d57;
}

.order-points-info {
    color: #453735;
}

/**
 * redeem points css
 */

#redeem-points-container .order-detail {
    border-bottom: 1px dotted #414246;
}

#phone-number, #phone, #captcha {
    border: 1px solid #1f2025;
    color: #536270;
}

#get-auth-code-button, #bind-phone-button {
    background-color: #124554;
    color: #5a7d88;
}

button#bind-phone-button:disabled,button#bind-phone-button {
    background-color: #F0F0F0;
    color: #D4D4D4;
    opacity: .4;
}

.input-wide {
    border: 1px solid #B3B3B3;
}

input[type=text] {
    color: #536270;
    border-color: #1f2025;
}

input:disabled {
    background-color: #1f2025;
    border: 1px solid #1f2025;
    color: #2f343c;
}

::-webkit-input-placeholder {
    color: #E3E3E3;
}

button#redeem-form-next:disabled {
    background-color: #1f2025;
    color: #495561;
    border: none;
}

button#redeem-form-next {
    background-color: #124554;
    border-color: #124554;
    color: #5a7d88;
}

/**
 * redeem confirm css
 */

.confirm-list {
    color: #5A5E60;
}

#confirm-redeem-info {
    background-color: #124554;
    color: #5a7d88;
}

.confirm-info-detail input {
    color: #536270;
    border: 1px solid #1f2025;
}

.confirm-change-info {
    color: #45505c;
    border-bottom: 1px solid #45505c;
}

.confirm-label {
    color: #45505c;
}

.confirm-data {
    color: #536270;
}

.his-link a {
    color: #536270;
}

/**
 * redeem failure and success page css
 */

#redeem-fail-container .center-text, #redeem-success-container .center-text {
    color: #536270;
}

#redeem-fail-container button, #redeem-success-container button {
    background-color: #124554;
    color: #5a7d88;
}

/**
 * mall home page css
 */

#mall-home-container {
    background: #0f1016;
}

#user-info-section {
    background-color: #1a1b20;
    border-bottom: 1px solid #1a1b20;
}

#user-info > ul a {
    color: #536270;
}

#user-name {
    color: #536270;
}

#user-points-info {
    color: #453735;
}

#user-redeem-history {
    color: #757575;
}

#product-list {
    background: #0f1016;
}

#product-list img {
    border-bottom: 1px solid #D6D4D3;
}

.event-title {
    color: #536270;
}

.product-group-left, .product-group-right {
    border: 1px solid #0f1016;
    background-color: #2b2d32;
}
.lottery-info-btn{
    opacity: .2;
}

.product-title-normal {
    color: #536270;
}

.product-medal-info {
    color: #4d515b;
}

.product-points-info {
    color: #534644;
}

li#user-points-info a {
    color: #534644;
    font-weight: bold;
}

.error {
    margin-top: 0.15em;
    color: #534644;
}

/* css reset */

input {
    color: #333;
}

input:focus::-webkit-input-placeholder {
    color: #333;
}

.forgot-pass {
    color: #999;
}

.color-orange {
    color: #48241a;
}

.color-gray {
    color: #787878;
}

.color-black {
    color: #536270;
}

.color-light-gray {
    color: #536270;
}

.border-top {
    border-top: 1px solid #1a1b20;
    margin-top: 1em;
}

.border-bottom {
    border-bottom: 1px solid #1a1b20;
}

.bg-white {
    background-color: #1a1b20;
}

.btn-login {
    color: #5f6276;
    background-color: #2b2d32;
}

.credit {
    color: #48241a;
}

.sign-btn {
    opacity: .5;
}

.vite-btn {
    opacity: .5;
    background: rgba(255,255,255,.9);
}

.credit-float {
    opacity: .5;
    background: rgba(255,192,0,.5);
}

#cover {
    background-color: rgba(0, 0, 0, 0.5);
}

.login-btn {
    background-color: #124554;
    color: #FFFFFF;
}

.mask {
    background: url("/static/img/head-mask-night.png") no-repeat;
    background-size: 100% 100%;
}

.bg-gray {
    background-color: #0f1016;
}

.history-null-wrap .des {
    color: #536270;
}

.history-null-wrap .redeem-btn {
    color: #5f6276;
    background-color: #2b2d32;
}

/* IE10 Windows Phone 8 Fixes */

.swiper-pagination-switch {
    background: #f9f9f9;
}

.swiper-active-switch {
    background: #f0f0f0;
}

.coming-soon p {
    color: #bbaf85;
}

/*rules*/

.list-item h2:before {
    background: none repeat scroll 0 0 #642f2c;
}

.list-item table {
    border-top: 1px solid #666;
    border-left: 1px solid #666;
}

.list-item table td, .list-item table th {
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
}

.list-item table th {
    background-color: #452222;
    color: #666;
}

.redeem-info {
    background-color: #2b2d32;
    margin: 0;
    padding: 1em 0.5em 3em;
}

.pagination {
    background-color: #8C8D8F;
    margin-top: 0;
    padding-top: 1em;
}
.bottom-panel-inner{
    background-color: #2b2d32;
}
/*国庆活动的*/
#redeem-button.disable {
    opacity: .5;
}
.inverse{
    opacity: .5;
}
.color-light-orange{
    opacity: .3;
}
.color-brown{
    opacity: .5;
}
.color-blue{
    opacity: .5;
}
.national-box a{
    opacity: .5;
}
.red{
    opacity: .2;
}
.list1 li span{
    opacity: .3;
}
.hot{
    background-color: #2B2D32;
    border-color: #2B2D32;
}
.disable{
    opacity: .5;
}
.color-light-orange .inverse{
    opacity: .9;
}
.bg-double11{
    opacity: .5;
}
.bg-double11 img{
    opacity: 1;
}
.double11-scroll{
    opacity: .5;
}
.double11-scroll img{
    opacity: 1;
}
.name-list-box{
    background-color: #313236;
    color: #536270;
}
.name-list-box h2{
    background-color: #58595c;
    color: #8C8D8f;
}
.name-list-box li{
    border-bottom: 1px dashed #58595c;
}
.lottery-success-btn{
    background-color: #124554;
    color: #5a7d88;
}
.lottery-continue-btn{
    opacity: .5;
}
.code-box{
    background-color: #3C3D41;
    background-image: url("/static/img/1111/stamp-left-night.png"),url("/static/img/1111/stamp-right-night.png");
}
.code-table{
    background-color: #924042;
    color: #8C8D8B;
    margin-top: -1px;
}
.code-table td{
    border-bottom: 1px dashed #963031;
    border-top: 1px dashed #a25c5e
}
.code-box-bottom{
    background-color: #3c3d41;
    background-image: url("/static/img/1111/stamp-bottom-night.png");
}
.table-head{
    background-image: url("/static/img/1111/table-head-night.png");
    background-size: 100% 100%;
    color: #8C8D8B;
    background-color: #924042;
}
.yellow{
    opacity: .5;
}
