.red-bg{
    background-color: #fff8d6;
}
.red-title{
    background:-moz-linear-gradient(top,#ff702a,#f6480e);/*火狐*/ 
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ff702a), to(#f6480e));/*谷歌*/ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff702a), to(#f6480e));/* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #ff702a, #f6480e);/*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #ff702a, #f6480e);  /*Opera 11.10+*/
    position:relative;
}
#red-flow{
    color: #ff5400;
    font-size: 3em;
    text-align: center;
    position:absolute;
    bottom:.3em;
    width:100%;
    left:0;
}
.title{
    color: #666666;
    margin-bottom: .5em;
}
.red-phonenum{
    height: 3em;
    line-height: 3em;
    min-width: 240px;
    border: 1px solid #cccccc;
}
.red-phonenum span{
    margin-right: .5em;
    color: #999999;
    font-size: .8em;
}
.red-no{
    background: url('/static/img/red/red-phone.png');
    background-size: 100% 100%;
    height: 10em;
}
.padding-top-0{
    padding-top: 0;
}
.warning{
    margin-top: 4.5em;
    text-align: center;
    color: #cc9966;
}
.red-check{
    overflow: hidden;
    margin: 1em auto;
}
.margin-left-0{
    margin-left: 5%;
}
.red-check li{
    position: relative;
    float: left;
    height: 3em;
    line-height: 3em;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.main .red-avail{
    background-color:#ffffff;
    color: #ffb660;
    border: 1px solid #ffb660;
}
.main .red-unavail{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #dddddd;
}

.red-check li{
    width: 44%;
    margin: 1em .5em;
}
.red-phonetype{
    overflow: hidden;
}
.red-check li span{
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    bottom: -.7em;
    right: -.7em;
    background: url('/static/img/red/red-check.png');
    background-size: 100% 100%;
    display: none;
}
.red-check li .checked-img{
    display: block;
}
.main .red-checked{
    background-color: #ffb660;
    border: 1px solid #ffb660;
    color: #ffffff;
}
.padding-bottom-0{
    padding-bottom: 0;
}
#red-getflow{
    display: block;
    text-decoration: none;
    margin-top: 2em;
    width: 100%;
    height: 3em;
    line-height: 3em;
    text-align: center;
}
.remark{
    margin: 1.5em 0;
    line-height: 1.5em;
    font-size: .8em;
    color: #cc9966;
}
.remark a{
    margin-right: .6em;
    color: #cc9966;
}
#tc{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    opacity: .6;
    z-index: 2;
}
#alertBox{
    display: none;
    position: fixed;
    top: 5em;
    left: 5%;
    width: 90%;
    height: 10em;
    font-size: .9em;
    text-align: center;
    z-index: 3;
}
#alertBox p{
    padding-bottom: 2em;
}
#alertBox .change{
    padding: 0;
    height: 3em;
    line-height: 3em;
    background-color: #ff702a;
    width: 100%;
}
#alertBox a{
    text-decoration: none;
    color: #ffffff;
}
#alertBox img{
    width: 6em;
    margin: 0 auto;
    padding: 1em 0; 
}
.display-none {
    display: none
}
.main .btn-disable {
   background-color: #d4cfb9;
   border: 1px solid #d4cfb9;
   color: #ffffff; 
}
#phone-number{
    width: 99%;
    border: 0;
}
.btn-abled{
    background-color: #ff702a;
    border: 1px solid #ff702a;
    color: #ffffff;
}
