<html>
<head>
    <title>欧朋</title>
    <link rel="stylesheet" type="text/css" href="/static/css/act-december.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
</head>
<body>
    <div id="divall">
        {% if stage == 'stage1' %}
            {% set act_header_image = "/static/img/act-dec/stage1.jpg" %}
            {% set rule_1 = '1、活动时间12月8日-10日' %}
            {% set button_image = "/static/img/act-dec/claim-stage1.jpg" %}
        {% elif stage == 'stage2' %}
            {% set act_header_image = "/static/img/act-dec/stage2.jpg" %}
            {% set rule_1 = '1、活动时间12月15日-17日' %}
            {% set button_image = "/static/img/act-dec/claim-stage2.jpg" %}
        {% else %}
            {% set act_header_image = "/static/img/act-dec/stage3.jpg" %}
            {% set rule_1 = '1、活动时间12月22日-24日' %}
            {% set button_image = "/static/img/act-dec/claim-stage3.jpg" %}
        {% endif %}
         <div id="divheader">
            <img src="{{ act_header_image}}" width="100%" alt="">
        </div>
        <div id="half">
            <div id="divbodyer">
			     <p>活动说明:</p>
				 <ul>  	
				     <li>{{ rule_1 }}</li>
				     <li>2、所有欧朋10用户登陆个人积分中心即可参与</li>
				     <li>3、每日更新大奖种类，没有最好，只有更好！</li>
				     <li>4、积分抽奖机会上不封顶，签到还送额外机会！</li>
				</ul>
            </div>

            <div id="divfooter">
                <div id="divleft">
                    <a href="{{ url }}">
                        <img src="{{ button_image }}" alt="" class="claim-button" >
                    </a>
                </div>
                <div id="divright">
                    <img src="/static/img/act-dec/package.jpg" width="78%" alt="" class="package">
                </div>
                <div class="clear"></div>
            </div>
			<div id="prompt">
				<ul>
					<li>1.欧朋10用户登录个人中心即可参与;</li>
					<li>2.微信用户请用浏览器打开链接.</li>
				</ul>
			</div>
        </div>
    </div>
</body>
</html>
