{% extends "base.html" %}

{% block title %}
<title>领奖</title>
{% endblock %}

{% block main_content %}
<div class="full-container" id="redeem-points-container">
  <div class="order-detail">
  <img src="{{ result.thumbnail }}" alt="" class="order-product-image">
  <div class="order-product-info">
    <p class="order-product-name">{{ result.title }}（第{{ act }}期）</p>
  </div>
  </div>

  <form action="{{ url_for('store.lottery_win_claim', act=act, stage=stage) }}" method="POST">
  <input type="hidden" name="_csrf_token" class="hidden" value="{{ csrf_token() }}">
  <div class="confirm-section">
    <div class="confirm-list">
      <div class="confirm-info-detail">
        <label for="confirm-phone" class="confirm-label">电话：</label>
        <input class="confirm-data" name=phone type="text" id="confirm-phone" value="{{ g.user.phone or '' }}" style="display: inline-block;">
        <p class="error" id="phone-error" tip="请核对电话号码">&nbsp;</p>
      </div>
    </div>
  <div class="confirm-list">
    <div class="confirm-info-detail">
      <label for="confirm-name" class="confirm-label">姓名：</label>
      <input class="confirm-data" type="text" name="name" id="confirm-name" value="{{ address.name or '' }}" style="display: inline-block;">
      <p id="name-error" class="error" tip="请核对收件人姓名">&nbsp;</p>
    </div>
  </div>

  <div class="confirm-list">
    <div class="confirm-info-detail">
      <label for="confirm-address" class="confirm-label">地址：</label>
      <input class="confirm-data" type="text" name="address" id="confirm-address" value="{{ address.address or '' }}" style="display: inline-block;">
      <p id="address-error" class="error" tip="请核对地址">&nbsp;</p>
    </div>
  </div>
  </div>
  <button id="confirm-redeem-info">确认</button>
  <form>
</div>
{% endblock %}

{% block foot_js %}
$(function() {
    $('#confirm-redeem-info').on("click", function(event) {
        var inputs = $("input.confirm-data");
        var has_error = false;
        var phoneno = /^1(\d{10})$/;
        var qq = /^\d{5,16}$/;
        for (var i=0, len=inputs.length; i<len; i++) {
            var elem = inputs[i];
            var v = elem.value.trim();
            var e = $(elem).next();
            if (v.length<1 || v.length>256 ||
                (elem.name=="phone" && !v.match(phoneno)) ||
                (elem.name=="qq" && !v.match(qq))) {
                e.text(e.attr("tip"));
                has_error = true;
            } else {
                e.text("");
            }
        }
        if (has_error) {
            return false;
        }

        return true;
    });
});
{% endblock %}
