{% extends "base.html" %}

{% block title %}
<title>积分</title>
{% endblock %}

{% block main_content %}
<div class="container">
  <div class="list-item">
    <div class="list-item-head">积分规则</div>
      <p class="list-item-content">获取积分:欧朋用户可通过省流、签到等方式累积积分。</p>
      <h2>方式一:使用欧朋流量宝省流量</h2>
      <p>
          开启节省状态下,每省 1 MB 得 5 个积分,每天上限 90 积分。
      </p>
      <h2>方式二:登录欧朋签到</h2>
      <p>每天签到即可获得 10 个积分,连续签到将有额外积分奖励:</p>
      <table cellspacing="0">
          <thead>
          <tr>
              <th>连续签到天数</th>
              <th>积分数</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>第1天</td>
              <td class="fr">+10</td>
          </tr>
          <tr>
              <td>第2天</td>
              <td>+20</td>
          </tr>
          <tr>
              <td>第3天</td>
              <td>+30</td>
          </tr>
          <tr>
              <td>第4天</td>
              <td>+40</td>
          </tr>
          <tr>
              <td>第5天</td>
              <td>+50</td>
          </tr>
          <tr>
              <td>第6天</td>
              <td>+60</td>
          </tr>
          <tr>
              <td>第7天</td>
              <td>+70</td>
          </tr>
          <tr>
              <td>第8天</td>
              <td>+80</td>
          </tr>
          <tr>
              <td>第9天</td>
              <td>+90</td>
          </tr>
          <tr>
              <td>第10天</td>
              <td>+100</td>
          </tr>
          <tr>
              <td>第11天</td>
              <td>+110</td>
          </tr>
          <tr>
              <td>第12天</td>
              <td>+120</td>
          </tr>
          <tr>
              <td>第13天</td>
              <td>+130</td>
          </tr>
          <tr>
              <td>第14天</td>
              <td>+140</td>
          </tr>
          </tbody>
      </table>
      <p>签到积分以连续签到 14 天为一个周期,每个周期默认按照10积分起始递增。</p>
      <h2>免责条款</h2>
      <ol>
        <li>1. 欧朋积分是对使用欧朋流量宝活跃用户的回馈和鼓励,通过使用欧朋流量宝以及流量节省即可获得积分。</li>
        <li>2. 通过正常方式使用欧朋流量宝获得积分可通过每阶段欧朋公布的兑换礼品积 分,进行等值兑换。奖品库存以及价格,以实时公布为准。</li>
        <li>3. 所有礼品兑完即止,非正规途径获取积分欧朋流量宝有权利进行处置。</li>
        <li>4. 所有欧朋流量宝积分不适用于兑换货币或者补偿用途。</li>
        <li>5. 欧朋流量宝积分以每半年度为单位进行积分清零。</li>
        <li>6. 欧朋流量宝保留对个人中心积分兑换规则的解释以及修改的权利。</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
