{% extends "base.html" %}

{% block title %}
<title>兑换失败</title>
{% endblock %}

{% block main_content %}
  <div class="full-container" id="redeem-fail-container">
  <img src="/static/img/failure-cat.png" alt="fail">
  <div class="center-text">
    <p class="larger">抱歉！</p>
    {% if result and result.reason %}
    <p>{{ result.reason }}</p>
    {% else %}
    <p>此商品缺货/兑换时间过期、已购买过</p>
    {% endif %}
  </div>
  <button type="button" class="larger back-to-store-index">亲，再看看其他产品</button>
  </div>
{% endblock %}

{% block foot_js %}
OupengBrowser.logEvt("goodsredeem", "fail");
{% include 'js.js' %}
{% endblock %}
