{% extends "base.html" %}

{% block title %}
<title>确定兑换</title>
{% endblock %}

{% block main_content %}
<div class="full-container" id="redeem-points-container">
  <div class="order-detail">
  <img src="{{ item.item.thumbnail }}" alt="" class="order-product-image">
  <div class="order-product-info">
    <p class="order-product-name">{{ item.item.title }}</p>
    <em class="order-points-info">￥{% if item.item.discount_price %}{{ item.item.discount_price }} {% else %}{{ item.item.price }} {% endif %}积分</em>
  </div>
  </div>
  <form action="{{ url_for('store.buy_result') }}" method="POST">
  <input type="hidden" name="_csrf_token" class="hidden" value="{{ csrf_token() }}">
  <div class="confirm-section">
  {% if item.item.type == 'qqcoin' %}
  <div class="confirm-list">
    <div class="confirm-info-detail">
      <label for="confirm-qq" class="confirm-label">QQ：</label>
      <input class="confirm-data" name=qq type="text" id="confirm-qq" value="" style="display: inline-block;">
      <p class="error" id="phone-error" tip="请核对QQ号码">&nbsp;</p>
    </div>
  </div>
  <div class="invented">
    请提供QQ账号，活动结束后会将<br>
    Q币充值到所填写的QQ账号中
  </div>
  {% else %}
    {% if item.item.need_phone %}
    <div class="confirm-list">
      <div class="confirm-info-detail">
        <label for="confirm-phone" class="confirm-label">电话：</label>
        <input class="confirm-data" name=phone type="text" id="confirm-phone" value="{{ g.user.phone }}" style="display: inline-block;">
        <p class="error" id="phone-error" tip="请核对电话号码">&nbsp;</p>
      </div>
    </div>
    {% endif %}
  {% endif %}
  {% if item.item.need_address %}
  <div class="confirm-list">
    <div class="confirm-info-detail">
      <label for="confirm-name" class="confirm-label">姓名：</label>
      <input class="confirm-data" type="text" name="name" id="confirm-name" value="{{ address.name }}" style="display: inline-block;">
      <p id="name-error" class="error" tip="请核对收件人姓名">&nbsp;</p>
    </div>
  </div>

  <div class="confirm-list">
    <div class="confirm-info-detail">
      <label for="confirm-address" class="confirm-label">地址：</label>
      <input class="confirm-data" type="text" name="address" id="confirm-address" value="{{ address.address }}" style="display: inline-block;">
      <p id="address-error" class="error" tip="请核对地址">&nbsp;</p>
    </div>
  </div>
  {% endif %}

  {% if size %}
  <div class="confirm-list">
    <div class="confirm-info-detail">
    <span class="confirm-label">尺码：</span>
    <span class="confirm-data" id="goods-size">{{ size }}</span>
    <input type="hidden" name="size" value="{{ size }}"/>
    </div>
  </div>
  {% endif %}
  </div>
  <input type="hidden" name="goods_id" value="{{ item.item.id }}">
  <button id="confirm-redeem-info">确认兑换</button>
  <form>
</div>
{% endblock %}

{% block foot_js %}
$(function() {
    $('#confirm-redeem-info').on("click", function(event) {
        var inputs = $("input.confirm-data");
        var has_error = false;
        var phoneno = /^1(\d{10})$/;
        var qq = /^\d{5,16}$/;
        for (var i=0, len=inputs.length; i<len; i++) {
            var elem = inputs[i];
            var v = elem.value.trim();
            var e = $(elem).next();
            if (v.length<1 || v.length>256 ||
                (elem.name=="phone" && !v.match(phoneno)) ||
                (elem.name=="qq" && !v.match(qq))) {
                e.text(e.attr("tip"));
                has_error = true;
            } else {
                e.text("");
            }
        }
        if (has_error) {
            return false;
        }

        return true;
    });
});
{% endblock %}
